site_name: dj-notebook
repo_url: https://github.com/pydanny/dj-notebook
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - search.suggest
    - search.highlight
    - search.share
  logo: img/dj-notebook-logo.png
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
    - mkdocs-jupyter:
          remove_tag_config:
              remove_input_tags:
                  - hide_code
    - search
    - social    


nav:
  - Introduction: index.md
  - Installation:
    - Installation: installation.md
    - Using with PyCharm: pycharm.md
  - Usage: usage.ipynb
  - Contributing: contributing.md
  - Releasing: releasing.md